{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailmetadata_tags static wagtailmarkdown %}

{% block meta_tag %}
    {% meta_tags %}
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block home_message %}
<div class="text-white" style="margin-top: 80px">
    {% if page.home_title %}
    <h4>{{ page.home_title }}</h4>
    {% endif %}
    {{ page.body|markdown }}
    <div class="mb-2">
        <a class="btn btn-light m-2" href="/projects" role="button" data-mdb-ripple-color="dark">Projects</a>
        <a class="btn btn-light m-2" href="/about" role="button" data-mdb-ripple-color="dark">About</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container text-center mt-4">
    <h4 class="mb-5">My Projects</h4>
    <ul id="home-gallery">
        {% for post in projects %}
            <li>
                {% with post.image as main_image %}
                    {% if main_image %}<a href="{% pageurl post %}" class="ripple">{% image main_image height-320 class="img-fluid rounded-2" %}</a>{% endif %}
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
