{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
    {% block extra_css %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
<header>
    <nav class="navbar navbar-expand-md navbar-dark d-block shadow-1-strong" style="z-index: 2000;">
        <div class="container-fluid">
            <a class="navbar-brand nav-link" id="logo" target="_blank" href="/">ArticulatedLogic.com</a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#mainMenu"
                    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>

                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="https://github.com/aazhbd" rel="nofollow" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="https://de.linkedin.com/in/aazhbd" rel="nofollow" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block home_message %}
    {% endblock %}
</header>
{% wagtailuserbar %}

{% block content %}{% endblock %}

<footer class="text-lg-start w-100">
    <div class="text-center text-white p-3 footer-content">
        © 2021 Copyright: <a class="text-white" href="https://articulatedlogic.com/">Abdullah Al Zakir Hossain</a> |
        <a class="text-white" aria-current="page" href="/">Home</a> |
        <a class="text-white" href="/projects">Projects</a> |
        <a class="text-white" href="/contact">Contact</a>
    </div>
</footer>
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/content.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
